<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>991154492801-j7dbn1lttqg4roehnlhc0van8ilf62kc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8MP8TUh822QvkFlQx7R7OK8-2ioxXdbA</string>
	<key>GCM_SENDER_ID</key>
	<string>991154492801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appryvo.ryvo</string>
	<key>PROJECT_ID</key>
	<string>ryvo-3535</string>
	<key>STORAGE_BUCKET</key>
	<string>ryvo-3535.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991154492801:ios:b55a241225761188e28480</string>
</dict>
</plist>